<main class="container mt-3 mb-5 p-3 border bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h3>Contact</h3>
            <hr class="my-3 border-dark">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Phone: (847) 331-7813 (cell)</p>
            <p>Email: <a href="mailto:paulblackmba@gmail.com">paulblackmba@gmail.com</a></p>
        </div>
    </div>
</main>