<main class="container mt-3 mb-5 p-3 border bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>About me</h3>
                    <hr class="my-3 border-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <img class="mr-3 mb-3 img-fluid w-100" src="assets/images/black_paul_small.jpg" alt="Paul Black">
                </div>
                <div class="col-sm-12 col-md-9">
                    <p class="lead">When I was in seventh grade my father somehow borrowed an Apple II+
                        computer. It came with
                        16k of memory
                        (count the bytes, folks), a 4" black and white portable tv monitor and a cassette
                        tape
                        drive
                        for
                        storage. We tinkered around for a while with it. Then I locked myself into the
                        basement
                        for
                        two weeks
                        and emerged a BASIC programmer. That's how all this started.</p>
                    <p class="lead">In high school I experienced a crisis. College was directly ahead
                        of me and
                        I
                        had to make
                        some hard
                        choices. I studied voice and seriously considered majoring in Vocal
                        Performance. On the other hand, Computer Science and Mathematics was attractive,
                        too.
                        There
                        didn't seem
                        to be a way to do all of them together. A Vocal major would likely end up with
                        me in a
                        cardboard box on
                        Lower Wacker drive. CS/Math would provide me with food and shelter. I'm very big
                        on food
                        and
                        thrive on
                        shelter. That made my decision for me.</p>
                    <p class="lead">I've been in the software business for over 25 years, starting in
                        C, moving
                        to
                        C++, then lots
                        of Java.
                        Now I'm looking for an opportunity to expand my horizons with full-stack web
                        development.
                    </p>
                    <p class="lead">When not hunched over a monitor I can be found camping in my small
                        trailer, refereeing high school football games, going to the opera and symphony and finding
                        the best source of dried kiwi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>