<main class="container mt-3 mb-5 p-3 border bg-light">
    <div class="row">
        <div class="col-12">
            <h3>Portfolio</h3>
            <hr class="my-3 border-dark">
        </div>
    </div>
    <div class="row">
        {{#each projects}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{image}}" alt="{{alt}}">
                    <div class="_card-body">
                        <a href="{{href}}" class="btn btn-primary" style="width: 100%"
                            target="_blank">{{title}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</main>