<main class="container mt-3 mb-5 p-3 border bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h3>Technology & Skills</h3>
            <hr class="my-3 border-dark">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h5>Web Technologies</h5>
            <ul>
                <li>React</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>Materialize</li>
                <li>jQuery</li>
                <li>Javascript</li>
                <li>Node</li>
                <li>Express</li>
                <li>MERN Stack</li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Database Technologies</h5>
            <ul>
                <li>SQL</li>
                <li>MySql</li>
                <li>Sequelize ORM</li>
                <li>Mongo</li>
                <li>Mongoose ODM</li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Languages</h5>
            <ul>
                <li>Java</li>
                <li>Javascript</li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Skills</h5>
            <ul>
                <li>Financial Markets</li>
                <li>Derivatives</li>
                <li>Engineering Management</li>
                <li>Project Management</li>
                <li>SDLC</li>
                <li>Requirements Gathering</li>
                <li>Multi-threading</li>
        </div>
    </div>
</main>